
{% extends 'flatpages/default.html' %}
<!--{% load custom_filters %}-->
<!--{% load custom_tags %}-->
{% block title %}
News
{% endblock title %}
{% block content %}
    <h1>Все Публикации</h1>
    {% if request.user.is_authenticated %}
        {% if is_not_subsсriber %}
            <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
        {%  else %}
            <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a> </p>
        {% endif %}
    {% endif %}

    <hr>

    {% if category_news_list %}
        <table>
            <tr>
                <td>Категория</td>
                <td>Дата</td>
                <td>Заголовок</td>
                <td>Автор</td>
                <td>Превью</td>
            </tr>
            {% for post in category_news_list %}
            <tr>
                <td>{% for category in post.cat.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}</td>
                <td>{{ post.time_create|date:'M d Y' }}</td>
                <td>
                    <a href="{% url 'news_detail' post.id %}">{{ post.title|censor }}</a>
                </td>
                <td>{{ post.author }}</td>
                <td>{{ post.content|truncatechars:100|censor }}</td>
            </tr>
           {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}